@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Comic Neue";
  font-weight: bold;
  background-color: hsl(47, 100%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin: 5px;
}

.box {
  background-color: hsl(0, 0%, 100%);
  min-width: min-content;
  width: fit-content;
  max-width: max-content;
  position: relative;
  border-radius: 5px;
  box-shadow: 10px 10px 0px hsla(0, 0%, 0%, 0.3);
  padding: 15px;
  word-break: normal;
  word-wrap: normal;
  margin: 18px 0px;
}

.box-a {
  background-color: hsl(0, 0%, 100%);
  width: fit-content;
  max-width: 450px;
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 10px 10px 0px hsla(0, 0%, 0%, 0.3);
  padding: 15px;
}

.line-bottom {
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-top {
  border-top: 1px solid hsla(0, 0%, 50%, 0.5);
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
}

#text {
  text-align: center;
  font-size: 1.8em;
}

label {
  font-size: 1.3em;
  max-width: max-content;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  border-radius: 7px;
  padding: 2px;
}

a:visited {
  color: black;
}

a:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

#pe {
  font-size: 1.3em;
}

.cb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.container {
  display: block;
  align-items: center;
}

.cb {
  cursor: pointer;
  width: 2.2em;
  height: 2.2em;
  border: 0.275em solid hsl(0, 0%, 0%);
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
}

.cb:checked::after {
  content: "\1F480";
  font-size: 1.3em;
}

button {
  font-family: "Comic Neue";
  border: none;
  border-radius: 0.75em;
  background: hsl(0, 0%, 0%);
  margin: 0.5em;
  padding: 0.0em;
  transition: transform 0.1s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.button {
  font-weight: bold;
  font-size: 1.7em;
  display: block;
  box-sizing: border-box;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button {
  transform: translateY(-0.33em);
}

button:active .button {
  transform: translateY(0);
}

#show {
  display: none;
  transition: transform 0.1s ease;
}

#total,
#ver,
#obs,
#check {
  margin: 0.3em;
}

.select {
  margin: 0.5em 0.5em;
}

input {
  cursor: pointer;
}

.radio {
  display: inline-flex;
  overflow: hidden;
  border-radius: 0.3em;
  border: 0.111em solid black;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 0.1em 0.2em;
  font-size: 0.8em;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  transition: background 250ms;
  user-select: none;
}

.radio__label:not(:last-of-type) {
  border-right: 0.145em solid #000000;
}

.radio__input:checked+.radio__label {
  color: #ffffff;
  background: #000000;
}